/*========reset=========*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*======navbar=====*/
header .navbar {
background-color: #8725ff;
}
.container .navbar-header a,
#myNavbar a {
    color: white;
}


/*========main section 1========*/
main .jumbotron {
	background: url('./Img/association-152746_1280.png') center no-repeat;
    position: sticky;

}

.jumbotron .container h1 {
    width: 100%;
    display: flex;
    white-space: nowrap;
}

