@font-face {
	font-family: 'Caviar-Bold';
	src: url('./font/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Caviar';
	src: url('./font/CaviarDreams.ttf') format('truetype');
}
@font-face {
	font-family: 'Louis';
	src: url('./font/Louis\ George\ Cafe.ttf') format('truetype');
}
@font-face {
	font-family: 'LouisR';
	src: url('./font/Louis\ George\ Cafe\ Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Bronson';
	src: url('./font/BRONSON-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Ear';
	src: url('./font/earwig\ factory\ rg.ttf') format('truetype');
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'LouisR';
	font-weight: 900;
}

main::-webkit-scrollbar {
	display: none;
}


main {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

footer {
	scroll-snap-align: start;
}
.navbar-brand img {
	position: absolute;
    left: 7%;
    top: 3.5rem;
	width: 4rem;
}
.navbar-fixed-top {
	position: fixed;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	padding: 30px 10px;
}


#myNavbar .nav li {
	background-color: transparent;
	margin-left: 3px;
	width: 8rem;
	height: 8rem;
	z-index: 1;
}
#myNavbar .nav a {
	text-transform: uppercase;
	background-color: #00549000;
	color: #0f6092;
	font-family: 'Louis';
	display: inline-block;
	padding: 1.5rem 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	height: 5rem;
	width: 8rem;
	border-radius: 8px;
	transition: all 0.1s ease;
	position: relative;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
  
.navbar-nav li a i {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	z-index: -2;
	opacity: 0;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
}

.navbar-nav li a:hover i {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	z-index: 2;
	opacity: 1;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

  #myNavbar .nav a:hover:not(.active) {
	position: absolute;
	background-color: #0f6092;
	color: #ffa462;
	width: 8rem;
	height: 6rem;
	font-size: 1.1rem;
	margin-left: 0;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}


  #myNavbar .nav a:is(:link, :active, :visited).active {
	position: absolute;
	top: 0;
	color: #ffa462;
	background-color: #0f6092;
	width: 8rem;
	height: 6rem;
	font-size: 1.4rem;
	margin-left: 0;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

  .nav a::after{
	content: '';
	position: absolute;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

  .nav a:hover::after{
	transform: translateY(12px);
	-webkit-transform: translateY(12px);
	-moz-transform: translateY(12px);
	-ms-transform: translateY(12px);
	-o-transform: translateY(12px);
}


.nav .navbord {
	position: relative;
	display: inline-block;
	background-color: #ffffff;
	color: #0f6092;
	border: none;
	width: 10rem;
	height: 4rem;
	text-transform: uppercase;
	right: -20%;
	margin-left: 20px;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.nav .navbord:hover {
	background-color: #0f6092;
	color: #ffa462;
}
  
/* Sections */
section {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

#home {
	position: relative;
	background-image: url('./Img/sourire-d-enfant.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	height: 100vh;
	width: 100vw;
  }
  #home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(65, 216, 221, 0.5), rgba(85, 131, 238, 0.9));
  
  }
  
  
  .arrows {
	position: absolute;
	top: 88%;
	left: 50%;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	cursor: pointer;
  }
  
  .arrows:before {
	content: "";
	position: absolute;
	width: 70%;
	height: 70%;
	border-left: 3px solid rgb(255, 255, 255);
	border-bottom: 3px solid rgb(255, 255, 255);
	transform: translate(14px, 50px) rotate(-45deg);
	animation: arrows 3s linear infinite;
	-webkit-transform: translate(14px, 50px) rotate(-45deg);
	-moz-transform: translate(14px, 50px) rotate(-45deg);
	-ms-transform: translate(14px, 50px) rotate(-45deg);
	-o-transform: translate(14px, 50px) rotate(-45deg);
	-webkit-animation: arrows 3s linear infinite;
}
  
  .arrows:after {
	content: "";
	position: absolute;
	width: 70%;
	height: 70%;
	border-left: 3px solid rgb(255, 255, 255);
	border-bottom: 3px solid rgb(255, 255, 255);
	transform: translate(34px, 0px) rotate(-45deg);
	animation: arrows 3s linear infinite -1.5s;
	-webkit-transform: translate(34px, 0px) rotate(-45deg);
	-moz-transform: translate(34px, 0px) rotate(-45deg);
	-ms-transform: translate(34px, 0px) rotate(-45deg);
	-o-transform: translate(34px, 0px) rotate(-45deg);
	-webkit-animation: arrows 3s linear infinite -1.5s;
}
  
  @keyframes arrows {
	0% {
	  border-left: 3px solid rgb(255, 255, 255);
	  border-bottom: 3px solid rgb(255, 255, 255);
	  transform: translate(-2px, -20px) rotate(-45deg);
	  -webkit-transform: translate(-2px, -20px) rotate(-45deg);
	  -moz-transform: translate(-2px, -20px) rotate(-45deg);
	  -ms-transform: translate(-2px, -20px) rotate(-45deg);
	  -o-transform: translate(-2px, -20px) rotate(-45deg);
}
	10%, 90% {
	  border-left: 3px solid rgba(255, 255, 255, 0.5);
	  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	}
	50% {
	  border-left: 3px solid rgba(255, 255, 255, 0.2);
	  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
	  transform: translate(-2px, 0px) rotate(-45deg);
	}
	100% {
	  border-left: 3px solid rgba(255, 255, 255, 0);
	  border-bottom: 3px solid rgba(255, 255, 255, 0);
	  transform: translate(-2px, 9px) rotate(-45deg);
	}
  }
  
  /* About */

 #about {
	position: relative;
 }
  
.concept-two {
	position: absolute;
	top: 88%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5em 15em;
	letter-spacing: 0.6rem;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
  .concept-two .hover {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	place-items: center;
	cursor: pointer;
  }
  .container .concept span {
	font-family: 'Bronson', sans-serif;
	display: inline-block;
	font-size: 8rem;
	text-transform: uppercase;
	text-align: center;
	color: transparent;
	text-align: 0 1px 1px;
	text-shadow: none;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .concept-two .hover:hover span {
	transform: scale(1.5);
	-webkit-text-stroke: 2px transparent;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .container .concept-two span:last-child:not(br) {
	margin-right: 15px;
  }
  
  .container .concept-two span:nth-last-child(5):not(br) {
	margin-left: 15px;
  }
  
  .letter1 {
  background-color: red;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  height: 60px;
  rotate: 10deg;
  -webkit-text-stroke: 2px blue;
  -webkit-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  -moz-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  -ms-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  -o-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.letter2 {
  background-color: green;
  height: 60px;
  rotate: -10deg;
  -webkit-text-stroke: 2px yellow;
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  -webkit-border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  -moz-border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  -ms-border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  -o-border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
}

.letter3 {
  background-color: rgb(0, 255, 247);
  height: 60px;
  rotate: 5deg;
  -webkit-text-stroke: 2px white;
  border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
  -webkit-border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
  -moz-border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
  -ms-border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
  -o-border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
}

.letter4 {
  background-color: rgb(115, 0, 255);
  height: 60px;
  rotate: -10deg;
  -webkit-text-stroke: 2px black;
  border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -webkit-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -moz-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -ms-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -o-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
}

.letter5 {
  background-color: purple;
  height: 60px;
  rotate: 5deg;
  -webkit-text-stroke: 2px pink;
  border-radius: 41% 59% 49% 49% / 48% 45% 54% 46%;
  -webkit-border-radius: 41% 59% 49% 49% / 48% 45% 54% 46%;
  -moz-border-radius: 41% 59% 49% 49% / 48% 45% 54% 46%;
  -ms-border-radius: 41% 59% 49% 49% / 48% 45% 54% 46%;
  -o-border-radius: 41% 59% 49% 49% / 48% 45% 54% 46%;
}

.letter6 {
  background-color: orange;
  height: 60px;
  rotate: -10deg;
  -webkit-text-stroke: 2px green;
  border-radius: 25% 69% 25% 64% / 25% 48% 25% 59%;
  -webkit-border-radius: 25% 69% 25% 64% / 25% 48% 25% 59%;
  -moz-border-radius: 25% 69% 25% 64% / 25% 48% 25% 59%;
  -ms-border-radius: 25% 69% 25% 64% / 25% 48% 25% 59%;
  -o-border-radius: 25% 69% 25% 64% / 25% 48% 25% 59%;
}

.letter7 {
  background-color: rgb(247, 0, 255);
  height: 60px;
  rotate: 5deg;
  -webkit-text-stroke: 2px purple;
  border-radius: 41% 59% 24% 25% / 71% 75% 25% 25%;
  -webkit-border-radius: 41% 59% 24% 25% / 71% 75% 25% 25%;
  -moz-border-radius: 41% 59% 24% 25% / 71% 75% 25% 25%;
  -ms-border-radius: 41% 59% 24% 25% / 71% 75% 25% 25%;
  -o-border-radius: 41% 59% 24% 25% / 71% 75% 25% 25%;
}

.letter8 {
  background-color: rgb(0, 173, 167);
  height: 60px;
  rotate: -5deg;
  -webkit-text-stroke: 2px yellow;
  border-radius: 41% 59% 60% 40% / 71% 21% 79% 25%;
  -webkit-border-radius: 41% 59% 60% 40% / 71% 21% 79% 25%;
  -moz-border-radius: 41% 59% 60% 40% / 71% 21% 79% 25%;
  -ms-border-radius: 41% 59% 60% 40% / 71% 21% 79% 25%;
  -o-border-radius: 41% 59% 60% 40% / 71% 21% 79% 25%;
}

.letter9 {
  background-color: rgb(0, 255, 0);
  height: 60px;
  rotate: 5deg;
  -webkit-text-stroke: 2px red;
  border-radius: 41% 59% 25% 71% / 71% 59% 41% 25%;
  -webkit-border-radius: 41% 59% 25% 71% / 71% 59% 41% 25%;
  -moz-border-radius: 41% 59% 25% 71% / 71% 59% 41% 25%;
  -ms-border-radius: 41% 59% 25% 71% / 71% 59% 41% 25%;
  -o-border-radius: 41% 59% 25% 71% / 71% 59% 41% 25%;
}

.letter10 {
  background-color: rgb(255, 255, 0);
  height: 60px;
  rotate: -10deg;
  -webkit-text-stroke: 2px blue;
  border-radius: 41% 59% 25% 71% / 35% 59% 41% 60%;
  -webkit-border-radius: 41% 59% 25% 71% / 35% 59% 41% 60%;
  -moz-border-radius: 41% 59% 25% 71% / 35% 59% 41% 60%;
  -ms-border-radius: 41% 59% 25% 71% / 35% 59% 41% 60%;
  -o-border-radius: 41% 59% 25% 71% / 35% 59% 41% 60%;
}

.letter11 {
  background-color: rgb(203, 192, 255);
  height: 60px;
  rotate: 10deg;
  -webkit-text-stroke: 2px green;
  border-radius: 33% 67% 25% 75% / 23% 59% 41% 76%;
  -webkit-border-radius: 33% 67% 25% 75% / 23% 59% 41% 76%;
  -moz-border-radius: 33% 67% 25% 75% / 23% 59% 41% 76%;
  -ms-border-radius: 33% 67% 25% 75% / 23% 59% 41% 76%;
  -o-border-radius: 33% 67% 25% 75% / 23% 59% 41% 76%;
}

.letter12 {
  background-color: rgb(134, 134, 134);
  height: 60px;
  rotate: -5deg;
  -webkit-text-stroke: 2px orange;
  border-radius: 53% 47% 25% 75% / 41% 79% 21% 59%;
  -webkit-border-radius: 53% 47% 25% 75% / 41% 79% 21% 59%;
  -moz-border-radius: 53% 47% 25% 75% / 41% 79% 21% 59%;
  -ms-border-radius: 53% 47% 25% 75% / 41% 79% 21% 59%;
  -o-border-radius: 53% 47% 25% 75% / 41% 79% 21% 59%;
}

.letter13 {
  background-color: pink;
  height: 60px;
  rotate: 10deg;
  -webkit-text-stroke: 2px black;
  border-radius: 53% 47% 25% 75% / 41% 41% 48% 59%;
  -webkit-border-radius: 53% 47% 25% 75% / 41% 41% 48% 59%;
  -moz-border-radius: 53% 47% 25% 75% / 41% 41% 48% 59%;
  -ms-border-radius: 53% 47% 25% 75% / 41% 41% 48% 59%;
  -o-border-radius: 53% 47% 25% 75% / 41% 41% 48% 59%;
}

.letter14 {
  background-color: rgb(255, 151, 99);
  height: 60px;
  rotate: -10deg;
  -webkit-text-stroke: 2px white;
  border-radius: 38% 62% 57% 42% / 42% 52% 48% 57%;
  -webkit-border-radius: 38% 62% 57% 42% / 42% 52% 48% 57%;
  -moz-border-radius: 38% 62% 57% 42% / 42% 52% 48% 57%;
  -ms-border-radius: 38% 62% 57% 42% / 42% 52% 48% 57%;
  -o-border-radius: 38% 62% 57% 42% / 42% 52% 48% 57%;
}

.hover:hover .letter1 {
	background-color: red;
	height: 100px;
	rotate: 0deg;
	color: rgb(255, 242, 0);
  }
  
  .hover:hover .letter2 {
	background-color: green;
	height: 100px;
	rotate: -0deg;
	color: rgb(192, 217, 255);
  }
  
  .hover:hover .letter3 {
	background-color: rgb(0, 255, 247);
	height: 100px;
	rotate: 0deg;
	color: white;
  }
  
  .hover:hover .letter4 {
	background-color: rgb(115, 0, 255);
	height: 100px;
	rotate: 0deg;
	color: rgb(1, 255, 18);
  }
  
  .hover:hover .letter5 {
	background-color: purple;
	height: 100px;
	rotate: 0deg;
	color: pink;
  }
  
  .hover:hover .letter6 {
	background-color: orange;
	height: 100px;
	rotate: 0deg;
	color: green;
  }
  
  .hover:hover .letter7 {
	background-color: rgb(247, 0, 255);
	height: 100px;
	rotate: 0deg;
	color: purple;
  }
  
  .hover:hover .letter8 {
	background-color: rgb(0, 173, 167);
	height: 100px;
	rotate: 0deg;
	color: yellow;
  }
  
  .hover:hover .letter9 {
	background-color: rgb(0, 255, 0);
	height: 100px;
	rotate: 0deg;
	color: red;
  }
  
  .hover:hover .letter10 {
	background-color: rgb(255, 255, 0);
	height: 100px;
	rotate: 0deg;
	color: blue;
  }
  
  .hover:hover .letter11 {
	background-color: rgb(203, 192, 255);
	height: 100px;
	rotate: 0deg;
	color: green;
  }
  
  .hover:hover .letter12 {
	background-color: rgb(134, 134, 134);
	height: 100px;
	rotate: 0deg;
	color: orange;
  }
  
  .hover:hover .letter13 {
	background-color: pink;
	height: 100px;
	rotate: 0deg;
	color: rgb(0, 128, 255);
  }
  
  .hover:hover .letter14 {
	background-color: rgb(255, 151, 99);
	height: 100px;
	rotate: 0deg;
	color: white;
  }

#about .about-content{
	position: absolute;
	top: 45%;
	left: 250px;
	width: 45rem;
	transform: translateY(-50%);
	-webkit-transform: translateY( -50%);
	-moz-transform: translateY( -50%);
	-ms-transform: translateY( -50%);
	-o-transform: translateY( -50%);
	background-color: #0f6092;
	height: 400px;
	padding: 2rem;
	border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -webkit-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -moz-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -ms-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  -o-border-radius: 66% 25% 75% 25% / 46% 27% 69% 54%;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}
  
  #about > .about-content > h2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Bronson', sans-serif;
  height: 60px;
  color: #ffa462;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


  #about > .about-content > p{
	position: relative;
	display: inline-block;
	font-family: 'LouisR', serif;
	width: 40rem;
	padding: 10px;
	color: #ffffff;
  }



  #myCarousel {
	height: 60%;
	width: 20%;
	position: absolute;
	overflow: hidden;
	top: 120px;
	right: 250px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
	
	.item {
	  height: 100vh;
	  position: relative;
	}
	
	.item img {
	  height: 100%;
	  object-fit: cover;
}
	
  
  .carousel-indicators {
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
	margin: 0;
	padding: 0;
  }
	
	.carousel-indicators {
	  position: absolute;
	  bottom: 4rem;
	  left: 50%;
	  transform: translateX(-50%);
	  right: 0;
	  text-align: center;
	  z-index: 10;
	  margin: 0;
	  padding: 0;
	}
	
	.carousel-indicators li {
	  display: inline-block;
	  width: 1rem;
	  height: 0.3rem;
	  margin: 0 0.5rem;
	  text-indent: -999px;
	  border: none;
	  background-color: rgba(255, 255, 255, 0);
	  cursor: pointer;
	  transition: all 3s ease-in-out;
	  -webkit-transition: all 3s ease-in-out;
	  -moz-transition: all 3s ease-in-out;
	  -ms-transition: all 3s ease-in-out;
	  -o-transition: all 3s ease-in-out;
}
  
	
	.carousel-indicators li:hover,
	.carousel-indicators li.active {
	  background-color: #f8f9fa00;
	  width: 1rem;
	  height: 0.4rem;
	}
  
	
  
	
  

  /*scroller*/
.scroller {
	padding-top: 4rem;
}


/* Events */
.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.thumbnail img {
  height: 80%;
}

.thumbnail .caption {
  height: 20%;
}

.social-icons {
	position: absolute;
	left: 100px;
	bottom: 10px;
	display: flex;
	flex-direction: row;
  }
.social-icons span {
	margin-left: 50px;
  }
  
  .social-icons a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 39px;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.3s ease;
  }
  
  .social-icons a::after{
	content: '';
	margin-bottom: 10px;
	height: 40px;
	width: 40px;
	left: -0.5px;
	background-color: transparent;
	border-radius: 50%;
	}
  
  .social-icons a:hover {
	background-color: #ffffff00;
	transform: translateY(-10px);
  }
  
  .social-icons a:active {
	transform: scale(0.9);
	transition: all 0.1s ease;
  }
  
  .social-icons a span {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  

  .social-icons [data-icon="mdi:facebook"] {
	color: #3B5998; 
	font-size: 2.2rem;
  }
  
  .social-icons [data-icon="mdi:twitter"]{
	color: #1DA1F2;
	font-size: 2.2rem; 
  }
  
  .social-icons [data-icon="mdi:youtube"]{
	color: #ff0000; 
	font-size: 2.4rem;
  }
  
  .social-icons a [data-icon="mdi:instagram"] {
	border-radius: 5px;
	color: white;
	position: relative;
	bottom: -2px;
	background: linear-gradient(45deg, #F58529, #DD2A7B, #5500ff); /* dégradé de couleur d'instagram */
  }
  

  /* Crée une classe "fade-in" qui applique l'animation */
.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
  }
  
  /* Définit les détails de l'animation */
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	  transform: translateX(-50px);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  /* Applique la classe "fade-in" à tous les éléments */
  * {
	animation-delay: 0.3s;
  }
  
  /* Applique la classe "fade-in" à la navigation */
  .navbar {
	animation-delay: 0s;
  }

  /* Couleurs principales */
:root {
	--primary-color: #005490;
	--secondary-color: #0074bd;
	--success-color: #28a745;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
  }
  
  /* Style du formulaire */
  form {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #f8f9fa;
  }
  
  form label {
	font-weight: 600;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form select,
  form textarea {
	font-size: 16px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ced4da;
	width: 100%;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="tel"]:focus,
  form select:focus,
  form textarea:focus {
	outline: none;
	border-color: var(--primary-color);
	box-shadow: 0 0 5px rgba(0, 84, 144, 0.5);
  }
  
  form .custom-file-input:focus~.custom-file-label {
	border-color: var(--primary-color);
	box-shadow: 0 0 5px rgba(0, 84, 144, 0.5);
  }
  
  form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 10px top 50%;
	background-size: 12px auto;
  }
  
  form .custom-file-label::after {
	content: "Choisir un fichier";
  }
  
  form button[type="submit"] {
	background-color: var(--primary-color);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
	background-color: var(--secondary-color);
  }
  
  /* Styles spécifiques aux éléments du formulaire */
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea,
  form select {
	transition: border-color 0.3s ease;
	resize: none;
  }
  
  form input[type="checkbox"] {
	margin-right: 10px;
  }
  
  form .form-check-label {
	margin-bottom: 10px;
	font-weight: normal;
  }
  
  form .form-check-input:checked~.form-check-label {
	font-weight: bold;
  }
  
  form .custom-file-label::after {
	content: "";
  }
  form .btn {
	position: relative;
	top: -20px;
  }

  /* Styles spécifiques à la zone de téléchargement de fichier */
form .custom-file-label span {
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
  }
  
  form .custom-file-input:focus~.custom-file-label,
  form .custom-file-input:valid~.custom-file-label {
	border-color: var(--success-color);
	box-shadow: 0 0 5px rgba(6, 24, 10, 0.5);
  }
  
  form .custom-file-input:invalid~.custom-file-label {
	border-color: var(--danger-color);
	box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  }
  
  form .custom-file-input:valid~.custom-file-label span::before {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 5px;
	color: var(--success-color);
  }
  
  form .custom-file-input:invalid~.custom-file-label span::before {
	content: "\f071";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 5px;
	color: var(--danger-color);
  }
  
  /* Styles spécifiques au message de confirmation */
  form .alert {
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	transition: opacity 0.3s ease;
  }
  
  form .alert-success {
	background-color: var(--success-color);
  }
  
  form .alert-warning {
	background-color: var(--warning-color);
  }
  
  form .alert-danger {
	background-color: var(--danger-color);
  }
  
  form .alert.hide {
	opacity: 0;
  }
  
  form .alert.show {
	opacity: 1;
  }
  
  /* Styles spécifiques aux messages d'erreur */
  form .error-message {
	color: var(--danger-color);
	font-size: 14px;
	margin-top: 5px;
	display: none;
  }
  
  form .input-error {
	border-color: var(--danger-color);
  }
  
  form .input-error:focus {
	box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  }
  
  form .input-error ~ .error-message {
	display: block;
  }

  /* styles spécifiques au Button validé */
  
  

  footer {
	position: relative;
	background-color: #005490;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
footer .container p {
	position: absolute;
	color: #ffffff;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	width: auto;
	white-space: nowrap;
}
  
  
  
  