
@font-face {
	font-family: 'Aston';
	src: url('fonts/Astonpoliz.ttf') format('truetype');
 }
@font-face {
	font-family: 'Chalk';
	src: url('fonts/Chalkboy.woff') format('woff');
 }
@font-face {
	font-family: 'Christ';
	src: url('fonts/Christ.ttf') format('truetype');
 }



 header .navbar {
	display: block;
	align-items: center;
	justify-content: center;
	font-family: 'Chalk';
	background-color: rgb(0, 128, 160);
	width: 100vw;
	height: 12vh;
  }
  header .navbar-nav a {
	font-size: 1rem;
	font-family: 'Christ';
  }
  .navbar-nav  {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	white-space: nowrap;
	width: 100%;
	left: 50%;
	transform: translate(-50%);
  }
  
  .word {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: -15px;
  }
  
 header .navbar-brand {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75vw;
	left: 50%;
	transform: translate(-50%);
 }
 #myNavbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75vw;
	height: 12vh;
	top: 40px;
	left: 50%;
	transform: translate(-50%);
 }

  #Name-brand {
	color: #ffffff;
  }

  .letter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	width: 10%;
	height: 10%;
	margin: 1%;
  }
  
  .c {
	background-color: red;
	transform: rotate(20deg);
  }
  
  .i {
	background-color: orange;
	transform: rotate(-5deg);
  }
  
  .t {
	background-color: yellow;
	transform: rotate(10deg);
  }
  
  .o {
	background-color: green;
	transform: rotate(-10deg);
  }
  
  .y {
	background-color: blue;
	transform: rotate(10deg);
  }
  
  .e {
	background-color: indigo;
	transform: rotate(-30deg);
  }
  
  .n {
	background-color: violet;
	transform: rotate(-20deg);
  }
  
  .d {
	background-color: pink;
	transform: rotate(10deg);
  }
  
  .u {
	background-color: brown;
	transform: rotate(10deg);
  }
  
  .m {
	background-color: rgb(0, 255, 251);
	transform: rotate(-10deg);
  }
  
  .o2 {
	background-color: silver;
	transform: rotate(180deg);
  }
  
  .n2 {
	background-color: gold;
	transform: rotate(-5deg);
  }
  
  .d2 {
	background-color: rgb(0, 55, 55);
	transform: rotate(10deg);
  }
  
  .e2 {
	background-color: lime;
	transform: rotate(-10deg);
  }
  
 
  #myNavbar a {
	color: white;
  }
  
  section {
	width: 100vw;
	height: 100vh;
  }

  #acceuil h1 {
	font-size: 5rem;
	font-weight: bold;
	color: #ff8c00;
	font-family: 'Aston';
	font-weight: bold;
	text-align: center;
	overflow: hidden;
  }
  .jumbotron {
    display: flex;
    justify-content: center;
	align-items: center;
}
.jumbotron span {
    margin: 0 10px;
}

  #acceuil span {
	font-size: 1rem;
	color: #434343;
	font-family: 'Aston';
	align-items: center;
	cursor: pointer;
	
  }

  .jumbotron .container h1 {
	height: 88vh;
  	display: flex;
  	align-items: center;
  }