
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
}

.navbar .container a,
.navbar .container .nav {
	color: #ff7700;
}
.jumbotron {
	background-image: url('./Img/association-152746_1280.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
  }
  
  .jumbotron img {
	display: none; /* Cache l'image si l'arrière-plan est déjà visible */
  }
  

.jumbotron h1 {
	font-size: 6em;
	margin-bottom: 0.5em;
	color: #25274a;
	text-align: center;
}

.jumbotron p {
	font-size: 1.5em;
	color: #25274a;
	text-align: center;
}


footer {
	position: relative;
	background-color: #1d0061;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
footer .container p {
	position: absolute;
	color: #ffffff;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	width: auto;
	white-space: nowrap;
}

@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}



/* Sections */
section {
  background: #ff7700;
  height: 100vh;
  width: 100vw;
}

/* Projets */
.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.thumbnail img {
  height: 80%;
}

.thumbnail .caption {
  height: 20%;
}
.container {
	width: 100%;
	height: auto;
}
.social-icons {
	position: fixed;
	top: 50%;
	left: 100px;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
  }
  
  .social-icons a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
	transition: all 0.3s ease;
  }
  
  .social-icons a::after{
	content: '';
	position: absolute;
	margin-bottom: 10px;
	height: 40px;
	width: 40px;
	left: 1px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .social-icons a:hover {
	background-color: #ffffff;
	transform: translate(10px);
  }
  
  .social-icons a:active {
	transform: scale(0.9);
	transition: all 0.1s ease;
  }
  
  .social-icons a span {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  

  .social-icons a {
	color: #3B5998; 
  }
  
  .social-icons [data-icon="mdi:twitter"]{
	color: #1DA1F2; 
  }
  
  .social-icons [data-icon="mdi:youtube"]{
	color: #ff0000; 
  }
  
  .social-icons a [data-icon="mdi:instagram"] {
	border-radius: 7px;
	color: white;
	background: linear-gradient(45deg, #F58529, #DD2A7B, #5500ff); /* dégradé de couleur d'instagram */
  }
  